@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css");

body {
    color: rgb(72, 72, 72);
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    font-size: 14px;
    line-height: 1.43;
    color: rgb(72, 72, 72);
}

.main-nav {
    height: 81px !important;
    background-color: white;
    border-bottom: 1px solid #e4e4e4 !important;
}

.logo {
    color: #FF5A5F !important;
    font-size: 34px;
    height: 55px;
    padding-left: 20px;
    padding-right: 30px;
}

.search-button {
    margin-right: -42px;
    z-index: 1;
}

.search-input {
    padding-left: 38px !important;
    background-color: transparent !important;
    margin: 0px !important;
    text-overflow: ellipsis !important;
    font-weight: 800 !important;
    font-size: 17px !important;
    color: #2A2A2A !important;
    transition: box-shadow 200ms ease-in !important;
    border: 1px solid #EBEBEB !important;
    border-radius: 4px !important;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1) !important;
    height: 48px !important;
    width: 450px !important;
}

.main-nav .nav-link {
    color: #2A2A2A !important;
}

.main-nav-link {
    background-color: white;
}

.nav-user-avatar {
    border-radius: 100%;
    width: 28px;
    height: 28px;
}

.main-nav-link .nav-item {
    line-height: 62px;
    height: 80px;
    padding: 0 6px;
}

.main-nav-link .nav-item:hover {
    border-bottom: 1px solid black;
}

.main-nav .dropdown-menu {
    width: 280px;
}

.main-nav .dropdown-menu .dropdown-item {
    font-size: 14px;
    padding: 10px;
    height: 36px;
    line-height: 12px;
}

@media only screen and (max-width: 600px) {
    .search-input {
        width: 230px;
    }

    .logo {
        padding-left: 0px;
        padding-right: 20px;
    }
}

@media only screen and (max-width: 320px) {
    .search-input {
        width: 164px;
    }
}

.mobile-nav-button {
    border: 0px !important;
}

.ml-auto .dropdown-menu {
    left: auto !important;
    right: 0px;
}

footer {
    background-color: rgb(255, 255, 255) !important;
    color: rgb(72, 72, 72) !important;
    border-top: 1px solid rgb(235, 235, 235) !important;
    padding-top: 48px !important;
    padding-bottom: 48px !important;
    margin-top: 20px;
}

.footer-widget-title {
    font-size: 15px;
}

.footer-widget-list li {
    border: 0;
    padding: 4px 0px;
}

.main-content {
    margin-top: 20px;
}

.card-signin {
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.card-signin .card-title {
    margin-bottom: 2rem;
    font-weight: 300;
    font-size: 1.5rem;
}

.card-signin .card-body {
    padding: 2rem;
}

.form-signin {
    width: 100%;
}

.form-signin .btn {
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    transition: all 0.2s;
}

.form-label-group {
    position: relative;
    margin-bottom: 1rem;
}

.form-label-group input {
    height: auto;
    border-radius: 2rem;
    padding: 1rem;
}


.btn-google {
    color: white;
    background-color: #ea4335;
    border: 0;
}

.btn-facebook {
    color: white;
    background-color: #3b5998;
    border: 0;
}

.btn-google:hover{
    background-color: #ea4335;
}

.btn-facebook:hover{
    background-color: #3b5998;
}

.summernote {
    height: 550px;
}